{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imgslider</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imgSlider.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ imgSlider.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ imgSlider.alt }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if imgSlider.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_imgslider_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_imgslider_edit', { 'id': imgSlider.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
