{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rubrique</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Resume</th>
                <th>Contenu</th>
                <th>Tags</th>
                <th>Publiepar</th>
                <th>Modifiepar</th>
                <th>Publiele</th>
                <th>Modifiele</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('admin_contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.rubrique }}</td>
                <td>{{ contact.titre }}</td>
                <td>{{ contact.slug }}</td>
                <td>{{ contact.resume }}</td>
                <td>{{ contact.contenu }}</td>
                <td>{{ contact.tags }}</td>
                <td>{{ contact.publiePar }}</td>
                <td>{{ contact.modifiePar }}</td>
                <td>{{ contact.publieLe }}</td>
                <td>{{ contact.modifieLe }}</td>
                <td>{% if contact.statut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_contact_show', { 'id': contact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contact_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_contact_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
